/*
=============================
Header style
============================= 
*/
header{
    background: #fff url("../images/icon.png") 20px 50% no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 50px;
    display: flex;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    margin-bottom: 30px;
}